* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  background: fixed linear-gradient(#0ac88f, #00c8b3);
  font-family: "Patrick Hand", cursive;
}

main {
  max-width: 1100px;
  margin: auto;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p, a, span, strong {
  font-size: 1.6rem;
}

p {
  margin: 1rem auto;
  max-width: 700px;
}

strong {
  font-weight: 800;
  font-family: "Shadows Into Light", cursive;
}

img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  padding: 1rem;
  text-decoration: none;
  color: #111;
  background: #fbc398;
  border-radius: 50px;
  border: 2px solid brown;
  max-width: 10rem;
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.btn:hover {
  background: #fbd9b3;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
