.product {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 2rem;
    margin: 2rem 1rem;
    min-height: 170px;
    min-width: 275px;
    max-width: 450px;
}
.product p {
    margin: 0;
}
  
.amazon {
    background: #fff;
    border-radius: 15px;
    width: 85px;
    padding: 2rem;
    margin: 1rem;
    float: left;
}
  
.name {
    font-size: 3.2rem;
    font-family: "Shadows Into Light", cursive;
}